{% extends 'emp_base.html' %}

{% block main %}
<script type="text/javascript">
    function checkpassword() {
        if (document.changepassword.newpassword.value !== document.changepassword.confirmpassword.value) {
            alert('New Password and Confirm Password fields do not match.');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="container mt-5">
    <div class="card shadow m-2">
        <div class="card-header">
            <h5 class="text-danger mb-0" style="border-bottom: 2px solid blue;">Change Password</h5>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <form method="post" name="changepassword" onsubmit="return checkpassword()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="currentpassword">Current Password</label>
                        <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current Password" required>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input type="password" name="newpassword" class="form-control" placeholder="Enter New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm New Password</label>
                        <input type="password" name="confirmpassword" class="form-control" placeholder="Enter New Password Again" required>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary m-2 px-3">
                </form>
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Password is updated successfully');
    window.location = ('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, try again...');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('Your current password is incorrect');
</script>
{% endif %}
{% endblock %}
