{% extends 'emp_base.html' %}

{% block main %}

<div class="container mt-5">
    <div class="card shadow m-2" style="border-radius: 15px;">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-danger" style="border-bottom: 2px solid blue;">My Work Experience</h5>
                <a href="{% url 'edit_myexperience' %}" class="btn btn-primary">Edit Work Experience</a>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Detail</th>
                            <th scope="col">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>First Company Name</th>
                            <td>{{experience.company1name}}</td>
                        </tr>
                        <tr>
                            <th>First Job Designation</th>
                            <td>{{experience.company1desig}}</td>
                        </tr>
                        <tr>
                            <th>First Job Salary</th>
                            <td>{{experience.company1salary}}</td>
                        </tr>
                        <tr>
                            <th>First Job Duration</th>
                            <td>{{experience.company1duration}}</td>
                        </tr>
                        <tr>
                            <th>Second Company Name</th>
                            <td>{{experience.company2name}}</td>
                        </tr>
                        <tr>
                            <th>Second Job Designation</th>
                            <td>{{experience.company2desig}}</td>
                        </tr>
                        <tr>
                            <th>Second Job Salary</th>
                            <td>{{experience.company2salary}}</td>
                        </tr>
                        <tr>
                            <th>Second Job Duration</th>
                            <td>{{experience.company2duration}}</td>
                        </tr>
                        <tr>
                            <th>Third Company Name</th>
                            <td>{{experience.company3name}}</td>
                        </tr>
                        <tr>
                            <th>Third Job Designation</th>
                            <td>{{experience.company3desig}}</td>
                        </tr>
                        <tr>
                            <th>Third Job Salary</th>
                            <td>{{experience.company3salary}}</td>
                        </tr>
                        <tr>
                            <th>Third Job Duration</th>
                            <td>{{experience.company3duration}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
